@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

body{
    /*
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://autolac.com.br/app/uploads/2017/11/5-dicas-para-evitar-a-perda-de-clientes-na-recep%C3%A7ao.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    */

    background-image: url(https://autolac.com.br/app/uploads/2017/11/5-dicas-para-evitar-a-perda-de-clientes-na-recep%C3%A7ao.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    display: grid;
    place-items: center;
}

button{
    width: 600px;
    height: 80px;
    
    border-color: rgb(255, 0, 76);
    border-radius: 5px;
    background-color: rgb(255, 217, 209);
    
    font-size: 30px;
    color: rgb(255, 0, 76);

    margin-top: 45%;
}